<app-header></app-header>
<div class="container mb-1">
  <div class="row">
    <h3>Listado de usuarios</h3>
  </div>
  <div class="row">
    <div class="col"><button class="btn btn-primary" (click)="nuevoUsuario()">Nuevo Usuario</button></div>
    <div class="col"><button class="btn btn-dark" type="button" (click)="salir()">Volver</button></div>
  </div>

    <div class="row">
    <form class="form-inline" [formGroup]="buscaForm" (ngSubmit)="postForm(buscaForm.value)">
      <div class="form-group ">
        <label for="staticEmail2" class="sr-only">Nombre</label>
        <input type="text" class="form-control " formControlName="name" id="" placeholder="Nombre">
      </div>
      <div class="form-group ">
        <label for="staticEmail2" class="sr-only">Apellidos</label>
        <input type="text" class="form-control" formControlName="surname" id="" placeholder="Apellidos">
      </div>
      <div class="form-group ">
        <label for="staticEmail2" class="sr-only">Email</label>
        <input type="text" class="form-control" formControlName="email" id="" placeholder="Email">
      </div>
      <button class="btn btn-primary" type="submit">Enviar</button>
    </form>
  </div>


  <div class="well">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Email</th>
          <th>F. Nacimiento</th>
          <th>Role</th>
          <th style="width: 36px;">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td>{{usuario.id}}</td>
          <td>{{usuario.name}}</td>
          <td>{{usuario.surname}}</td>
          <td>{{usuario.email}}</td>
          <td>{{usuario.fecha_nac}}</td>
          <td *ngIf="usuario.role_id==1">Admin</td>
          <td *ngIf="usuario.role_id==2">Entrenador</td>
          <td *ngIf="usuario.role_id==3">Cliente</td>
          <td>
            <button type="button" class="btn btn-primary" (click)="editarUsuario(usuario.id)">Editar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" *ngIf="respuesta.prev_page_url!=null"
            (click)="getUsuariosPaginacion(respuesta.prev_page_url)">&laquo;</a></li>
        <li class="page-item"><a class="page-link active">{{respuesta.current_page}}</a></li>
        <li class="page-item"><a class="page-link" (click)="getUsuariosPaginacion(respuesta.next_page_url)">&raquo;</a>
        </li>
      </ul>
    </nav>

  </div>
</div>
<app-footer></app-footer>
